<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>List Customer</title>
</head>
<body>
<h3>Customers</h3>
<p>
    <a th:href="@{/customers/create}">
        Add new customer
    </a>
</p>
<p>
    <a th:href="@{/provinces}">
        Provinces
    </a>
</p>
<div class="notify">
    <div th:if="${message}">
        <span th:text="${message}"></span>
    </div>
</div>

<table id = "customers">
    <thead>
    <tr>
        <th>STT</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Province</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c,cStatus : ${customers}">
        <td th:text="${cStatus.count}"></td>
        <td th:text="${c.getFirstName()}"></td>
        <td th:text="${c.getLastName()}"></td>
        <td th:text="${c.getProvince().getName()}"></td>
        <td><a th:href="@{/customers/update/{id}(id=${c.getId()})}">update</a></td>
        <td><a th:href="@{/customers/delete/{id}(id=${c.getId()})}">delete</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>